* {
  box-sizing: border-box;
}

.image-container {
  position: relative;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.image-button {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background-color: bisque;
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  text-align: center;
  line-height: 24px;
  padding: 13px;
}

.image-button:hover {
  opacity: 1;
}
