* {
  box-sizing: border-box;
}

.page {
  background-color: bisque;
  height: 100vh;
  display: flex;
  font-family: monospace;
  font-size: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 300px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: max-content;
  margin: auto;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-input {
  min-height: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  padding: 4px;
}

.form-label {
  margin-bottom: 4px;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.submit-button {
  background-color: #ff7f50;
  margin-top: 16px;
  border-radius: 4px;
  color: white;
  min-height: 32px;
  text-transform: uppercase;
}

.form-input:invalid {
  border: 3px solid #ff0000;
}
