* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
}

.spinner {
  margin: 0 auto;
}
.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  transition: linear;
}

.rect {
  position: relative;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  animation: blinking 2s, moving 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
