* {
  box-sizing: content-box;
}
.header {
  height: 40px;
  background-color: darkturquoise;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navigation {
  height: 40px;
}

.nav-list {
  margin: 0;
}

.nav-item {
  float: left;
  list-style: none;
  line-height: 40px;
  margin-left: 16px;
  color: white;
}
.content {
  background-color: beige;
  height: 5000px;
}

.head {
  background-color: aquamarine;
  position: relative;
  width: 200px;
  height: 200px;
  top: 200px;
  left: calc(50% - 100px);
}

.ear {
  background-color: brown;
  width: 40px;
  height: 60px;
}
.ear_left {
  position: relative;
  float: left;
  top: -60px;
  left: -40px;
}
.ear_right {
  position: relative;
  float: right;
  top: -60px;
  right: -40px;
}
.eye {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.eye_left {
  position: relative;
  float: left;
  top: 80px;
  left: 0px;
}
.eye_right {
  position: relative;
  float: right;
  top: 80px;
  right: 0px;
}
