.rectangle {
  box-sizing: border-box;
  margin: 50px;
  border: 2px solid black;
}

.figure1 {
  background-color: blue;
}

.figure2 {
  background-color: yellow;
}
.figure3 {
  background-color: green;
}
.figure4 {
  background-color: pink;
  padding: 50px;
}
